<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Autobusy heh</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--bootstrap-->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="containter">
    <div th:if="${not #lists.isEmpty(buses)}">
        <h2>Lista autobusów</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Nr rejestracyjny</th>
                <th>czy dostępny</th>
                <th>wolne miejsca</th>
            </tr>
            <tr th:each="bus : ${buses}">
                <td th:text="${bus.id}"><a href="/bus/${bus.id}">ID</a></td>
                <td th:text="${bus.registration_number}">Nr rejestracyjny</td>
                <td th:text="${bus.available}">czy dostępny</td>
                <td th:text="${bus.seats}">wolne miejsca</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>