<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link data-require="bootstrap@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" />
    <script data-require="bootstrap@*" data-semver="3.3.1" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css" />
    <script src="script.js"></script>
</head>

<body>
<div>
    <form class="form-horizontal" th:object="${bus}" th:action="@{/bus/save/}" method="post">

        <input type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label class="col-xs-2 control-label">Rejestracja:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" th:field="*{registration_number}"/>
                <p th:if="${#fields.hasErrors('registration_number')}" th:errors="*{registration_number}">Title error message</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 control-label">Stan:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" th:field="*{available}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 control-label">Miejsca:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" th:field="*{free_seats}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 control-label">Udogodnienia:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" th:field="*{features}"/>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Dodaj</button>
        </div>
    </form>
    <p></p>
    <div th:if="${not #lists.isEmpty(bus.registration_number)}">
        <p th:text="'Dodano autobus: ' + ${bus}"></p>
    </div>
</div>
</body>

</html>