<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link data-require="bootstrap@*" data-semver="3.3.1" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"/>
    <script data-require="bootstrap@*" data-semver="3.3.1"
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
    <script src="script.js"></script>
</head>
<body>
<div class="containter">
    <div th:if="${not #lists.isEmpty(company)}">
        <h2>Lista Firm</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>E-mail</th>
                <th>Telefon</th>
                <th>Strona internetowa</th>
            </tr>
            <tr th:each="key : ${company}">
                <td th:text="${key.id}"><a href="/company/${company.id}">ID</a></td>
                <td th:text="${key.name}">Nazwa</td>
                <td th:text="${key.email}">E-mail</td>
                <td th:text="${key.phone}">Telefon</td>
                <td th:text="${key.website}">Strona internetowa</td>
            </tr>
        </table>
        <div class="row">
            <a href="/company/list" th:href="@{/company/new}" class="btn btn-default"
               style="background-color: crimson; margin-left: 2%">Nowy</a>
        </div>
    </div>
</div>
</body>
</html>