<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kursy heh</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--bootstrap-->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="containter">
    <div th:if="${not #lists.isEmpty(bus)}">
        <h2>Rozkład</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Cena</th>
                <th>Trasa</th>
                <th>Data odjazdu</th>
                <th>Godzina odjazdu</th>
            </tr>
            <tr th:each="key : ${course}">
                <td th:text="${course.id}"><a href="/course/${course.id}">ID</a></td>
                <td th:text="${course.price}">Cena</td>
                <td th:text="${course.track}">Trasa</td>
                <td th:text="${course.date}">Data odjazdu</td>
                <td th:text="${course.time}">Godzina odjazdu</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>