<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Logowanie</title>
    <link data-require="bootstrap@*" data-semver="3.3.1" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"/>
    <script data-require="bootstrap@*" data-semver="3.3.1"
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
    <script src="script.js"></script>
</head>

<body>
<h1>Zaloguj się</h1>

<form method="post" th:object="${loginForm}">
    <p>
    <div><label for="username">Nazwa użytkownika:</label></div>
    <input id="username" type="text" name="username" th:value="*{username}"/>
    <span class="formError" th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Nieprawidłowa nazwa użytkownika</span>

    <div><label for="password" th:value="*{username}">Hasło:</label></div>
    <input id="password" type="password" name="password" th:value="*{password}"/>
    <span class="formError" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Invalid password</span>
    </p>
    <div><input type="submit" value="Login"/>
        <a href="register.html" th:href="@{/register}">[Nie masz konta? Zarejestruj się!]</a></div>
</form>
</body>
</html>